body, html {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', sans-serif ;
    background: linear-gradient(to right, #f44545 , #f5793b);
  }
  
  .login-container {
    width: 300px;
    margin: 100px auto;
    background-color:  rgba(255, 255, 255, .75);
    border: 3px solid white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 15px rgb(255, 255, 255);
  }
